TradeRiserAPI/TradeRiserAPI/Service References/QueryService/DataModel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionTransactQQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserQuerySessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionTransactQQ" nillable="true" type="tns:SessionTransactQQ" />
  <xs:complexType name="ArrayOfQueryHelperDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryHelperDefinition" nillable="true" type="tns:QueryHelperDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryHelperDefinition" nillable="true" type="tns:ArrayOfQueryHelperDefinition" />
  <xs:complexType name="QueryHelperDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryHelperDefinition" nillable="true" type="tns:QueryHelperDefinition" />
</xs:schema>