TradeRiserAPI/TradeRiserAPI/Service References/QueryService/QueryLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AnswerPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="PresentationTypes" nillable="true" type="tns:ArrayOfPresentationPackage" />
      <xs:element minOccurs="0" name="ProcessedResults" nillable="true" type="tns:ComputedResultTable" />
      <xs:element minOccurs="0" name="QueryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawDataResults" nillable="true" type="tns:ArrayOfRawDataResultTable" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultSymbols" nillable="true" type="q1:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="UserQuerySessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerPackage" nillable="true" type="tns:AnswerPackage" />
  <xs:complexType name="ArrayOfPresentationPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PresentationPackage" nillable="true" type="tns:PresentationPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresentationPackage" nillable="true" type="tns:ArrayOfPresentationPackage" />
  <xs:complexType name="PresentationPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MainWidget" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainWidgetAltName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubWidgets" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubWidgetsAltName" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Symbol" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentationPackage" nillable="true" type="tns:PresentationPackage" />
  <xs:complexType name="ComputedResultTable">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ComputedResults" nillable="true" type="q5:ArrayOfArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HeaderDataType" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Headers" nillable="true" type="q7:ArrayOfstring" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="KeyFieldIndex" nillable="true" type="q8:ArrayOfArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputedResultTable" nillable="true" type="tns:ComputedResultTable" />
  <xs:complexType name="ArrayOfRawDataResultTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RawDataResultTable" nillable="true" type="tns:RawDataResultTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRawDataResultTable" nillable="true" type="tns:ArrayOfRawDataResultTable" />
  <xs:complexType name="RawDataResultTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChartReadyDataResults" nillable="true" type="tns:ArrayOfChartDataPairing" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataResults" nillable="true" type="q9:ArrayOfArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="DataTimeFrame" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HeaderDataType" nillable="true" type="q10:ArrayOfArrayOfstring" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Headers" nillable="true" type="q11:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="HighLightRegion" nillable="true" type="tns:ArrayOfHighlightRegion" />
      <xs:element minOccurs="0" name="PerformanceStatistics" nillable="true" type="tns:ArrayOfPerformanceStats" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Summaries" nillable="true" type="q12:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawDataResultTable" nillable="true" type="tns:RawDataResultTable" />
  <xs:complexType name="ArrayOfChartDataPairing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartDataPairing" nillable="true" type="tns:ChartDataPairing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartDataPairing" nillable="true" type="tns:ArrayOfChartDataPairing" />
  <xs:complexType name="ChartDataPairing">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenericStr" nillable="true" type="q13:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Value" nillable="true" type="q14:ArrayOfArrayOfdouble" />
      <xs:element minOccurs="0" name="Xaxis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yaxis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartDataPairing" nillable="true" type="tns:ChartDataPairing" />
  <xs:complexType name="ArrayOfHighlightRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HighlightRegion" nillable="true" type="tns:HighlightRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHighlightRegion" nillable="true" type="tns:ArrayOfHighlightRegion" />
  <xs:complexType name="HighlightRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxisIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDateTime" type="xs:double" />
      <xs:element minOccurs="0" name="SeriesIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StartDateTime" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HighlightRegion" nillable="true" type="tns:HighlightRegion" />
  <xs:complexType name="ArrayOfPerformanceStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceStats" nillable="true" type="tns:PerformanceStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceStats" nillable="true" type="tns:ArrayOfPerformanceStats" />
  <xs:complexType name="PerformanceStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Headers" nillable="true" type="q15:ArrayOfstring" />
      <xs:element minOccurs="0" name="PerformanceStatsType" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatsLog" nillable="true" type="q16:ArrayOfArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceStats" nillable="true" type="tns:PerformanceStats" />
  <xs:complexType name="ArrayOfAnswerPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerPackage" nillable="true" type="tns:AnswerPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerPackage" nillable="true" type="tns:ArrayOfAnswerPackage" />
</xs:schema>