TradeRiserAPI/TradeRiserAPI/Service References/QueryService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IQueryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QueryService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QueryLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueryService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_SubmitQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitQuery" />
  </wsdl:message>
  <wsdl:message name="IQueryService_SubmitQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetSymbolData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSymbolData" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetSymbolData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSymbolDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetDataResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResult" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetDataResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResultResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetQueryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryData" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetQueryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetChartData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChartData" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetChartData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChartDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetLatestAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnswers" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetLatestAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAllCompletedPatternDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompletedPatternDefaults" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAllCompletedPatternDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompletedPatternDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAllEmergingPatternDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmergingPatternDefaults" />
  </wsdl:message>
  <wsdl:message name="IQueryService_GetAllEmergingPatternDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmergingPatternDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IQueryService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IQueryService_BroadcastToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClient" />
  </wsdl:message>
  <wsdl:portType name="IQueryService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetData" message="tns:IQueryService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetDataResponse" message="tns:IQueryService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetDataUsingDataContract" message="tns:IQueryService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetDataUsingDataContractResponse" message="tns:IQueryService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/SubmitQuery" message="tns:IQueryService_SubmitQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/SubmitQueryResponse" message="tns:IQueryService_SubmitQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSymbolData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetSymbolData" message="tns:IQueryService_GetSymbolData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetSymbolDataResponse" message="tns:IQueryService_GetSymbolData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetDataResult" message="tns:IQueryService_GetDataResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetDataResultResponse" message="tns:IQueryService_GetDataResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetQueryData" message="tns:IQueryService_GetQueryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetQueryDataResponse" message="tns:IQueryService_GetQueryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChartData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetChartData" message="tns:IQueryService_GetChartData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetChartDataResponse" message="tns:IQueryService_GetChartData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetAutoComplete" message="tns:IQueryService_GetAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetAutoCompleteResponse" message="tns:IQueryService_GetAutoComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetLatestAnswers" message="tns:IQueryService_GetLatestAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetLatestAnswersResponse" message="tns:IQueryService_GetLatestAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompletedPatternDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetAllCompletedPatternDefaults" message="tns:IQueryService_GetAllCompletedPatternDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetAllCompletedPatternDefaultsResponse" message="tns:IQueryService_GetAllCompletedPatternDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmergingPatternDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/GetAllEmergingPatternDefaults" message="tns:IQueryService_GetAllEmergingPatternDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/GetAllEmergingPatternDefaultsResponse" message="tns:IQueryService_GetAllEmergingPatternDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/RegisterClient" message="tns:IQueryService_RegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueryService/NotifyServer" message="tns:IQueryService_NotifyServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IQueryService/BroadcastToClient" message="tns:IQueryService_BroadcastToClient_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IQueryService" type="tns:IQueryService">
    <wsp:PolicyReference URI="#NetTcpBinding_IQueryService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitQuery">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/SubmitQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSymbolData">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetSymbolData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataResult">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetDataResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryData">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetQueryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartData">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetChartData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoComplete">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetAutoComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnswers">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetLatestAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompletedPatternDefaults">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetAllCompletedPatternDefaults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmergingPatternDefaults">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/GetAllEmergingPatternDefaults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <soap12:operation soapAction="http://tempuri.org/IQueryService/BroadcastToClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port name="NetTcpBinding_IQueryService" binding="tns:NetTcpBinding_IQueryService">
      <soap12:address location="net.tcp://localhost:8012/QueryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8012/QueryService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>