TradeRiserAPI/TradeRiserAPI/Service References/QueryService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QueryService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QueryLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataModel" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userQuerySession" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QueryLibrary" minOccurs="0" name="SubmitQueryResult" nillable="true" type="q3:AnswerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeFrame" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSymbolDataResult" nillable="true" type="q4:ArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selectingSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QueryLibrary" minOccurs="0" name="GetDataResultResult" nillable="true" type="q5:AnswerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="GetQueryDataResult" nillable="true" type="q6:SessionTransactQQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChartDataResult" nillable="true" type="q7:ArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataModel" minOccurs="0" name="GetAutoCompleteResult" nillable="true" type="q8:ArrayOfQueryHelperDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QueryLibrary" minOccurs="0" name="GetLatestAnswersResult" nillable="true" type="q9:ArrayOfAnswerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompletedPatternDefaults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exchange" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompletedPatternDefaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QueryLibrary" minOccurs="0" name="GetAllCompletedPatternDefaultsResult" nillable="true" type="q10:AnswerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmergingPatternDefaults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exchange" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmergingPatternDefaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QueryLibrary" minOccurs="0" name="GetAllEmergingPatternDefaultsResult" nillable="true" type="q11:AnswerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="eventData" nillable="true" type="q12:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="eventData" nillable="true" type="q13:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>